@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

/* ctrl+K+C  para comentar rapido */
:root {
  --gold1: #f4bd76;
  --gold2: #f5ff2f;
  --gray: #ffffff80;
  --gray2: #f7d9d990;
  --black1: #1a1b1f;
  --black2: #30353b;
  --shadow: 0 8px 8px;
  --color_shadow: #00000033;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* SOCIAL BAR */
.social-redes {
  position: fixed;
  right: 0;
  top: 35%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 100;
}

.icon {
  color: white;
  text-decoration: none;
  padding: .7rem;
  display: flex;
  transition: all .5s;
}

.icon-facebook2 {
  background: #2E406E;
  border-radius: 1rem 0 0 0;
}

.icon-twitter {
  background: #339DC5;
}

.icon-youtube {
  background: #E83028;
}

.icon-instagram {
  background: radial-gradient(circle at 33% 100%,
      #fed373 4%,
      #f15245 30%,
      #d92e7f 62%,
      #9b36b7 85%,
      #515ecf);
}

.icon:first-child {
  border-radius: 1rem 0 0 0;
}

.icon:last-child {
  border-radius: 0 0 0 1rem;
}

.icon:hover {
  padding-right: 3rem;
  border-radius: 1rem 0 0 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42);
}

/* FIN SOCIAL BAR */

.contenedor {
  width: 90%;
  max-width: 1000px;
  line-height: 28px;
}

.contenedor h1 {
  font-size: 30px;
  text-align: left;
  padding: 50px 0;
}

.contenedor p {
  margin-bottom: 20px;
}

.contenedor .btn-abrir-popup {
  padding: 20px 30px;
  display: inline-block;
  background: linear-gradient(180deg, #f7ce90, #f4bd76 100%);
  text-decoration: none;
  color: var(--black2);
  font-weight: 700;
  -webkit-box-shadow: var(--shadow) var(--color_shadow);
  box-shadow: var(--shadow) var(--color_shadow);
  border-radius: 6px;
  font-size: 16px;
}

.contenedor .btn-abrir-popup:hover {
  background: linear-gradient(180deg, #f7ce90, #f4bd76 100%);
  cursor: pointer;
}

/* POPUP Agendar DEMO */
/* ------------------------- */

.overlay {
  background: rgba(0, 0, 0, .3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  visibility: hidden;
}

.overlay.active {
  visibility: visible;
}

.popup {
  background: #F8F8F8;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  padding: 20px;
  text-align: center;
  width: 600px;

  transition: .3s ease all;
  transform: scale(0.7);
  opacity: 0;
}

.popup .btn-cerrar-popup {
  font-size: 16px;
  line-height: 16px;
  display: block;
  text-align: right;
  transition: .3s ease all;
  color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
  color: #000;
}

.popup h3 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  opacity: 0;
}

.popup h4 {
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 40px;
  opacity: 0;
}

.popup form .contenedor-inputs {
  opacity: 0;
}

.popup form .contenedor-inputs input {
  width: 100%;
  margin-bottom: 20px;
  height: 52px;
  font-size: 18px;
  line-height: 52px;
  text-align: center;
  border: 1px solid #BBBBBB;
}

.popup form .btn-submit {
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  border: none;
  color: var(--black1);
  background: linear-gradient(180deg, #f7ce90, #f4bd76 100%);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: .3s ease all;
}

.popup form .btn-submit:hover {
  background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  color: #f4bd76;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {
  transform: scale(1);
  opacity: 1;
}

.popup.active h3 {
  animation: entradaTitulo .8s ease .5s forwards;
}

.popup.active h4 {
  animation: entradaSubtitulo .8s ease .5s forwards;
}

.popup.active .contenedor-inputs {
  animation: entradaInputs 1s linear 1s forwards;
}

@keyframes entradaTitulo {
  from {
    opacity: 0;
    transform: translateY(-25px);
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes entradaSubtitulo {
  from {
    opacity: 0;
    transform: translateY(25px);
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes entradaInputs {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Header y Barra de Navegacion */
.header-barra {
  width: 100%;
  height: 75px;
  position: relative;
  z-index: 10;
  top: 0;
  left: 0;
}

.contenedorHeader {
  width: 90%;
  max-width: 100%;
  margin: auto;
}

/* Use selector especial  */
.logo {
  float: left;
  text-align: left;
  font-size: 60px;
  font-weight: bold;
  color: var(--gold1);
}

.logo:hover {
  float: left;
  -webkit-animation: 1s flash 1;
  animation: 1s flash 1;
}

/* Use selector especial  */
.logo img {
  width: 100%;
  height: 75px;
}

.menu {
  float: right;
  line-height: 75px;
  text-transform: uppercase;
}

.menu a {
  color: var(--gold1);
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  line-height: normal;
  font-size: 18px;
  font-weight: bold;
}

.menu a:hover {
  color: #fff;
  background: var(--gold1);
  padding: 10px 15px;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* Estilos al boton de Menú */
#btn-menu {
  display: none;
}

.boton {
  float: right;
  display: none;
}

.boton label {
  color: var(--gold1);
  padding: 5px;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
}

/* codigo para dispositivos mobiles */
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .header {
    height: 100px;
  }

  .logo,
  .boton {
    line-height: 50px;
  }

  .logo {
    height: auto;
    max-width: 100%;
  }

  .menu {
    position: absolute;
    background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
    width: 100%;
    height: auto;
    top: 90px;
    left: 0;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    /* box-shadow: 0px 1px 10px #999; */
  }

  #btn-menu:checked~.menu {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }

  .menu a {
    display: block;
    margin-top: 10px;
  }

  .boton {
    display: block;
  }
}

@-webkit-keyframes flash {
  50% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@keyframes flash {
  50% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

/* FIN del Header y Barra de Navegacion */
.subir {
  width: 50px;
  height: 50px;
  font-size: 30px;
  line-height: 45px;
  background-color: var(--gold1);
  border-radius: 50%;
  color: black;
  border: 2px solid black;
  text-align: center;
  position: fixed;
  right: 30px;
  bottom: 100px;
}

.btn-wsp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 20px;
  left: 50px;
  background-color: #0df053;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.btn-wsp:hover {
  text-decoration: none;
  color: #0df053;
  background-color: #fff;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 100px 0;
  height: auto;
}

.container--modifier {
  width: 60%;
}

/* Encabezado  */
.hero {
  width: 100%;
  min-height: 100vh;
  background: -webkit-gradient(linear,
      left top,
      left bottom,
      from(var(--black2)),
      to(var(--black1)));
  background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
  padding-top: 60px;
}

.point {
  color: var(--gold1);
}

.hero__main {
  height: calc(100vh - 70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
}

.mockup {
  -o-object-fit: cover;
  object-fit: cover;
  height: calc(100vh - 70px);
}

.title {
  font-size: 56px;
  font-weight: 300;
  color: #fff;

}

.title--active {
  color: var(--gold1);
  font-weight: 700;
  animation: alternate-reverse;
  -webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-5-24 14:48:10
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract-bck
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
    transform: translateZ(400px);
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
    transform: translateZ(400px);
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

.copy {
  font-size: 24px;
  color: var(--gray);
  text-shadow: var(--shadow) var(--color_shadow);
  margin: 15px 0;
}

.copy__active {
  font-weight: 700;
}

/* Fin del Encabezado  */

/* Galeria Servicios */

h1 {
  font-weight: bold;
  text-align: left;
  padding: 20 0;
  font-size: 40px;
  color: var(--black2);
}

.linea {
  background: var(--black1);
  height: 5px;
  width: 100%;
  display: block;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 95%;
  margin: auto;
  grid-gap: 10px;
  padding: 40px 0;
  overflow: hidden;
}

.galeria>a {
  display: block;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.galeria img {
  width: 100%;
  vertical-align: top;
  height: 250px;
  object-fit: cover;
  transition: transform 0.5s;
}

.galeria a:hover img {
  filter: blur(2px);
  transform: rotate(10deg) scale(1.3);
}

.light-box {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
  transition: transform .3s ease-in-out;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
}

.light-box img {
  width: 50vw;
  max-height: 70vh;
}

.light-box:target {
  transform: scale(1);
}

.close {
  display: block;
  position: absolute;
  top: 40px;
  right: 40px;
  background: var(--gold1);
  color: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  border-radius: 50%;
}

.next {
  display: block;
  background: var(--gold1);
  color: #fff;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
}

@media screen and (max-width:400px) {
  .galeria {
    grid-template-columns: repeat(auto-fit, minmax(200px 1fr));
  }

  .close {
    top: 20px;
    right: 20px;
  }
}

/* Fin de Galeria Servicios  */

/* Servicios  */
.tarjeta__container {
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
  perspective: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.papa__tarjeta {
  margin: 20px;
  perspective: 1000px;
}

.papa__tarjeta:hover .tarjeta {
  transform: rotateY(180deg);

}

.tarjeta {
  width: 350px;
  height: 400px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 600ms;
}

.frente__tarjeta {
  background-size: cover;
  background-position: center;
}

.frente__tarjeta,
.dorso__tarjeta {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 20px;
}

.dorso__tarjeta {
  transform: rotateY(180deg);
  background: #fff;
}

.cuerpo__tarjeta_frente {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transform: translateZ(60px);
}

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}

.cuerpo__tarjeta_dorso {
  padding: 40px;
  text-align: center;
  transform: translateZ(60px);
}

.cuerpo__tarjeta_dorso p {
  margin-top: 30px;
  font-size: 18px;
}

.cuerpo__tarjeta_dorso input {
  padding: 10px 40px;
  margin-top: 30px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  color: #fff;
  background: #5880f6;
  box-shadow: 1px 1px 30px -5px #5880f6;
  border-radius: 10px;
  transition: box-shadow 600ms;
}

.cuerpo__tarjeta_dorso input:hover {
  box-shadow: 1px 1px 30px -5px #449de6;
}

.services {
  background: #fafafa;
}

.subtitle {
  font-size: 42px;
}

.subtitle--modifier {
  text-align: center;
  margin-bottom: 16px;
}

.copy__section {
  color: var(--black2);
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 60px;
}

.copy__section--modifier {
  text-align: center;
  margin-bottom: 32px;
}

.container-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.card__img {
  width: 95%;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.cards__text {
  text-align: left;
  width: 90%;
  margin: 0 auto;
}

.card__list {
  color: var(--gold1);
  font-weight: 700;
  margin: 25px 0 12px;
  font-size: 18px;
}

.card__title {

  font-size: 40px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 8px;
  animation: move linear 2000ms infinite;
}

@keyframes move {
  0% {
    text-shadow:
      4px -4px 0 hsla(0, 100%, 50%, 1),
      3px -3px 0 hsla(0, 100%, 50%, 1),
      2px -2px 0 hsla(0, 100%, 50%, 1),
      1px -1px 0 hsla(0, 100%, 50%, 1),
      -4px 4px 0 hsla(180, 100%, 50%, 1),
      -3px 3px 0 hsla(180, 100%, 50%, 1),
      -2px 2px 0 hsla(180, 100%, 50%, 1),
      -1px 1px 0 hsla(180, 100%, 50%, 1);
  }

  25% {
    text-shadow:
      -4px -4px 0 hsla(180, 100%, 50%, 1),
      -3px -3px 0 hsla(180, 100%, 50%, 1),
      -2px -2px 0 hsla(180, 100%, 50%, 1),
      -1px -1px 0 hsla(180, 100%, 50%, 1),
      4px 4px 0 hsla(0, 100%, 50%, 1),
      3px 3px 0 hsla(0, 100%, 50%, 1),
      2px 2px 0 hsla(0, 100%, 50%, 1),
      1px 1px 0 hsla(0, 100%, 50%, 1);
  }

  50% {
    text-shadow:
      -4px 4px 0 hsla(0, 100%, 50%, 1),
      -3px 3px 0 hsla(0, 100%, 50%, 1),
      -2px 2px 0 hsla(0, 100%, 50%, 1),
      -1px 1px 0 hsla(0, 100%, 50%, 1),
      4px -4px 0 hsla(180, 100%, 50%, 1),
      3px -3px 0 hsla(180, 100%, 50%, 1),
      2px -2px 0 hsla(180, 100%, 50%, 1),
      1px -1px 0 hsla(180, 100%, 50%, 1);
  }

  75% {
    text-shadow:
      4px 4px 0 hsla(180, 100%, 50%, 1),
      3px 3px 0 hsla(180, 100%, 50%, 1),
      2px 2px 0 hsla(180, 100%, 50%, 1),
      1px 1px 0 hsla(180, 100%, 50%, 1),
      -4px -4px 0 hsla(0, 100%, 50%, 1),
      -3px -3px 0 hsla(0, 100%, 50%, 1),
      -2px -2px 0 hsla(0, 100%, 50%, 1),
      -1px -1px 0 hsla(0, 100%, 50%, 1);
  }

  100% {
    text-shadow:
      4px -4px 0 hsla(0, 100%, 50%, 1),
      3px -3px 0 hsla(0, 100%, 50%, 1),
      2px -2px 0 hsla(0, 100%, 50%, 1),
      1px -1px 0 hsla(0, 100%, 50%, 1),
      -4px 4px 0 hsla(180, 100%, 50%, 1),
      -3px 3px 0 hsla(180, 100%, 50%, 1),
      -2px 2px 0 hsla(180, 100%, 50%, 1),
      -1px 1px 0 hsla(180, 100%, 50%, 1);
  }
}

.card__copy {
  color: var(--gray2);
  margin-bottom: 16px;
}

/*** ESTILOS BOTÓN SLIDE TOP ***/
.ov-btn-slide-top {
  background: #fff;
  color: var(--black1);
  border: 2px solid var(--gold1);
  padding: 12px 0px;
  border-radius: 6px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: block;
  font-weight: 700;
  text-align: center;
}

.ov-btn-slide-top:hover {
  color: var(--black1);
}

.ov-btn-slide-top::after {
  content: "";
  background: linear-gradient(180deg, #f7ce90, #f4bd76 100%);
  font-weight: 700;
  text-align: center;
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: 0;
  right: 0;
  top: -100%;
  bottom: 100%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.ov-btn-slide-top:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.card {
  width: 30%;
  padding: 30px 0;
  overflow: hidden;
  background: -webkit-gradient(linear,
      left top,
      left bottom,
      from(var(--black2)),
      to(var(--black1)));
  background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
  border-radius: 10px;
  position: relative;
  text-align: right;
  margin-bottom: 60px;
  -webkit-box-shadow: 0 0 6px var(--color_shadow);
  box-shadow: 0 0 6px var(--color_shadow);
}

/* Fin Servicios  */
.card__date {
  color: var(--gold1);
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
}

.container-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.background {
  width: 68%;
  height: 290px;
  border-radius: 10px;
  position: relative;
  margin-bottom: 60px;
}

.background__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: inherit;
}

.background__text {
  position: absolute;
  width: 100%;
  bottom: 30px;
  left: 15px;
  color: #fff;
}

.background__title {
  font-size: 24px;
  margin-bottom: 4px;
}

/* Testimony  */

.testimony {
  background: #fafafa;
}

.testimony-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.testimony__card {
  width: 30%;
  height: 500px;
  background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
  border-radius: 10px;
  position: relative;
  margin-bottom: 30px;
}

.testimony__img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
  object-position: center top;
}

.testimony__copy {
  position: absolute;
  bottom: 20px;
  left: 5%;
  width: 90%;
  background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
  color: #fff;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: var(--shadow) var(--color_shadow);
  padding: 15px 8px;
  display: flex;
  align-items: center;
}

.testimony__copy--modifier {
  background: none;
  box-shadow: none;
}

.testimony__logo {
  font-size: 40px;
  margin-right: 15px;
  display: inline-block;
}

.testimony__name {
  font-size: 24px;
  line-height: 28px;
}

.testimony__position {
  color: var(--gray);
}

.testimony__text {
  padding: 40px 0;
  width: 90%;
  margin: 0 auto;
  color: #fff;
}

.testimony__history {
  font-size: 21px;
  font-weight: 300;
}

.testimony__info {
  width: 70%;
}

.google__logo {
  margin-bottom: 20px;
}

.logo--picture {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  object-position: center top;
}

/* Fin de Testimony  */


/* check */
.check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
}

.check .check__item {
  width: 30%;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-right: 2px solid var(--black2);
}

.fa-check {
  background: -webkit-gradient(linear,
      left top,
      left bottom,
      from(var(--black2)),
      to(var(--black1)));
  background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  margin-right: 20px;
  color: #fff;
  border-radius: 50%;
  padding: 10px;
  font-size: 20px;
}

.check__number {
  font-weight: 700;
}

.check__number .check__copy {
  font-weight: 300;
}

.newsletter {
  width: 60%;
  margin: 0 auto;
  margin-top: 40px;
  height: auto;
  font-family: inherit;
  position: relative;
  border-radius: 6px;
}

.newsletter .newsletter--modifier {
  margin: 0;
  width: 80%;
}

.newsletter .newsletter__input {
  width: 100%;
  height: 100%;
  padding: 22px 10px;
  outline: none;
  font-family: inherit;
  border-radius: 6px;
  border: 1px solid var(--black1);
}

.newsletter .newsletter__submit {
  position: absolute;
  right: 8px;
  top: 10%;
  height: 80%;
  background: -webkit-gradient(linear,
      left top,
      left bottom,
      from(var(--black2)),
      to(var(--black1)));
  background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
  color: #fff;
  padding: 0 15px;
  border: none;
  border-radius: 6px;
  font-family: inherit;
  font-weight: 700;
}

/* Fin de check */
/* Footer */
.footer {
  background: #fafafa;
}

.footer .footer__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.title__footer {
  font-size: 24px;
  margin-bottom: 32px;
}

.download {
  width: 50%;
}

.download .download__app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.download .download__app .download__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 18px 12px;
  width: 42%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 16px;
  border: 1px solid var(--black1);
  border-radius: 6px;
}

/* Aca hice uso del mixin */
.fa-apple .fa-google-play {
  font-size: font-size;
  margin-right: margin;
}

/* Aca hice uso del mixin */
.fa-apple {
  font-size: 40px;
  margin-right: 20px;
}

.fa-google-play {
  font-size: 40px;
  margin-right: 20px;
}

.download__title {
  font-size: 18px;
}

.footer__copy {
  width: 100%;
  color: var(--black2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.copyright {
  width: 100%;
}

.política__privacidad {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
}

.política__privacidad .política__privacidad:hover {
  text-decoration: underline;
}

.política__privacidad .política__privacidad--margin {
  margin-right: 10px;
}

.get-email {
  width: 50%;
}

.socialmedia {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--black2);
}

.socialmedia .socialmedia__icon {
  font-size: 18px;
  margin-right: 30px;
  display: inline-block;
}

.socialmedia .socialmedia__legend {
  color: var(--black2);
  margin-right: 16px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: #fff;
}

.item__contact {
  width: 25%;
  color: #fff;
  padding: 60px 0;
  text-align: center;
  background: -webkit-gradient(linear,
      left top,
      left bottom,
      from(var(--black2)),
      to(var(--black1)));
  background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
}

.item__contact--gold {
  background: -webkit-gradient(linear,
      left top,
      left bottom,
      from(#f7ce90),
      to(#f4bd76));
  background: linear-gradient(180deg, #f7ce90, #f4bd76 100%);
  color: var(--black1);
}

.item__contact--gold .contact__icon {
  font-size: 14px;
  color: var(--gold1);
  line-height: 20px;
  margin-right: 4px;
}

.item__contact--gold .contact__icon--modifier {
  color: var(--black1);
}

.item__contact--gold .contact__title {
  font-size: 16px;
  line-height: 20px;
}

.contact__icon {
  font-size: 14px;
  color: var(--gold1);
  line-height: 20px;
  margin-right: 4px;
}

.contact__icon--modifier {
  color: var(--black1);
}

.contact__title {
  font-size: 16px;
  line-height: 20px;
}

/* Fin del Footer */

/* Media Queries */
@media screen and (max-width: 900px) {
  .mockup {
    width: 600px;
    height: auto;
  }

  .title {
    font-size: 50px;
  }

  .copy {
    font-size: 22px;
  }

  .cta {
    padding: 15px 22px;
  }

  .container-cards {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }

  .services .card {
    width: 45%;
  }

  .background {
    width: 52%;
  }

  .card {
    width: 42%;
  }

  .testimony-container {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }

  .testimony__card {
    width: 45%;
  }

  .check__item {
    width: 45%;
    margin-bottom: 35px;
  }

  .newsletter {
    width: 80%;
  }

  .download {
    width: 100%;
  }

  .download__app {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .download__item {
    width: 45%;
  }

  .get-email {
    width: 100%;
    margin-bottom: 40px;
  }

  .socialmedia__icon {
    font-size: 18px;
  }

  .socialmedia__legend {
    font-size: 18px;
  }
}

@media screen and (max-width: 700px) {

  main .container,
  footer .container {
    padding: 60px 0;
  }

  .nav__container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }

  .logo {
    padding: 15px 0;
    text-align: center;
  }

  .links {
    padding-bottom: 10px;
    text-align: center;
  }

  .link {
    padding: 7px 10px;
  }

  .hero__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: auto;
    padding: 30px 0;
  }

  .hero__textos {
    width: 100%;
    text-align: center;
  }

  .mockup {
    width: 60%;
    margin-bottom: 20px;
  }

  .title {
    font-size: 35px;
    text-align: center;
  }

  .copy__section {
    font-size: 20px;
    text-align: center;
  }

  .service .card {
    width: 80%;
  }

  .container-bg {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }

  .card {
    margin-bottom: 40px;
    width: 65%;
  }

  .card__title {
    font-size: 35px;
  }

  .card__button {
    width: 100%;
  }

  .background {
    width: 65%;
    margin-bottom: 40px;
  }

  .background__copy {
    display: none;
  }

  .testimony__card {
    display: none;
  }

  .testimony__name {
    font-size: 20px;
  }

  .item__contact {
    width: 100%;
    padding: 30px 0;
  }
}

@media screen and (max-width: 500px) {
  .mockup {
    width: 80%;
    margin-bottom: 15px;
  }

  .services .card {
    width: 95%;
  }

  .card {
    width: 95%;
  }

  .background {
    width: 95%;
  }

  .testimony__card {
    width: 95%;
  }

  .testimony__history {
    width: 20px;
  }

  .container--modifier {
    width: 90%;
  }

  .newsletter {
    width: 100%;
    display: none;
  }

  .newsletter--modifier {
    display: block;
  }

  .check__item {
    width: 100%;
    border: none;
    padding: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .download__item {
    width: 49%;
  }

  .download__title {
    font-size: 16px;
  }

  .fa-apple {
    font-size: 30px;
  }

  .fa-google-play {
    font-size: 30px;
  }
}

/*# sourceMappingURL=estilo.css.map */